/*111827*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #111827;
}
header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 70px;
    
}
.logo h1{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal; 
    margin-left: 20px;
    color: rgb(103, 103, 255);
}
ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 90px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

a{
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal; 
    transition: all 0.3s ease-in-out;
}
a:hover{
    color: rgb(103, 103, 255);
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.fa-user{
    margin-right: 6px;
}


/*header do site principal*/